[Unit]
Description=Add wheel members to docker and libvirt groups
Before=docker.socket

[Service]
Type=oneshot
ExecStart=/usr/bin/hyprblue-groups
Restart=on-failure
RestartSec=30
StartLimitInterval=0

[Install]
WantedBy=default.target
