[Unit]
Description=Add wheel members to docker and libvirt groups
DefaultDependencies=no
After=local-fs.target
Before=sockets.target

[Service]
Type=oneshot
ExecStart=/usr/bin/hyprblue-groups

[Install]
WantedBy=sysinit.target
